body {
    background: rgb(16, 11, 92);
    background: linear-gradient(90deg, rgba(16, 11, 92, 1) 8%, rgba(0, 10, 60, 1) 43%, rgba(1, 79, 120, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.time {
    color: white;
    font-size: 6em;
    font-weight: 300;
}

.timeBox {
    text-align: center;
}

.searchBar {
    padding: 10px 30px 10px 10px;
    border: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 1100px;
    height: 50px;
    color: white;
}

.searchBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitBtn {
    background-color: transparent;
    border: none;
    transform: translateX(-110%);
}

.submitBtn svg {
    font-size: 5em;
}

.card {
    width: 250px;
    height: 190px;
    background: #07182E;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.card .content {
    z-index: 1;
    color: white;
    font-size: 2em;
}

.card::before {
    content: '';
    position: absolute;
    width: 350px;
    height: 350px;
    background-image: linear-gradient(180deg, #e55d87, #5fc3e4);
    height: 130%;
    transition: all 0.2s linear;
}

@keyframes border {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes border2 {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(540deg);
    }
}

.card:nth-child(odd)::before {
    animation: border 3s linear infinite;
}

.card:nth-child(even)::before {
    animation: border2 3s linear infinite;
}

.card::after {
    content: '';
    position: absolute;
    background: #07182E;
    inset: 5px;
    border-radius: 15px;
}

.cards {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.github {
    background-image: url("../images/github.svg");
    color: white;
}